/* This file is for your main application css. */

@import "~bootstrap/scss/bootstrap";
@import "./phoenix.css";

a {
  font-size: 18px;
}

input {
  font-size: 12px;
}

textarea {
  font-size: 12px;
}

textarea.key {
  min-height: 80px;
}

textarea.cert {
  min-height: 170px;
}

.title {
  display: block;
  margin: 2rem 0 2rem;
}

.error {
  color: red;
  font-size: 22px;
  padding-bottom: 30px;
}
